.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 185px;
    background-color: #f2f2f2;
}

.profile-photo {
    width: 300px;
    margin-right: 20px;
}

.profile-photo img {
    width: 150%;
    height: auto;
    border-radius: 50%;
}

.profile-description {
    max-width: 700px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.profile-description h2 {
    font-size: 50px;
}

.profile-description p {
    font-size: 25px;
}

.profile-description button {
    margin-top: 30px;
    padding: 15px 22px;
    font-size: 20px;
    background-color: black ; /* Blue color, you can change it */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

