.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Increase the padding for more height */
    background-color: Black; /* Change this to your preferred background color */
    color: white; /* Text color */
}

.left-section {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 30px; /* Adjust the font size as needed */
    margin-right: 80px; /* Add margin for separation */
    margin-left: 30px;
}

.nav-links {
    font-size: 20px; /* Adjust the font size as needed */
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
    padding: 8px 12px; /* Adjust padding for a little more separation */
    position: relative;
}

.nav-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white; /* Change this to your desired bar color */
    transition: width 0.3s ease;
}

.nav-links a:hover::before {
    width: 100%;
}

.right-section {
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

.logo {
    width: 45px; /* Adjust the size as needed */
    height: 45px;
    border-radius: 50%; /* Optional: make the logos circular */
    filter: brightness(0) invert(1); /* Make the logos white while preserving transparency */
}

.logo:hover {
    filter: brightness(0) invert(0.5); /* Invert colors on hover */
}

@media screen and (max-width: 767px) {
    .navbar {
        align-items: flex-start; /* Align items to the start on smaller screens */
    }

    .left-section {
        margin-bottom: 10px; /* Add margin between sections for smaller screens */
    }

    h3 {
        margin-right: 0; /* Remove margin on smaller screens */
    }

    .right-section {
        margin-top: 10px; /* Add margin between sections for smaller screens */
    }

    .nav-links {
        flex-direction: column; /* Stack links vertically on smaller screens */
        align-items: flex-start; /* Align links to the start on smaller screens */
        gap: 10px; /* Reduce gap for smaller screens */
    }
}