.skills-container {
    text-align: center;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    max-width: 800px;
    margin: auto;
}

.skill {
    transition: transform 0.3s ease; /* Add transition for smooth scaling effect */
}

.skill:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
}

.skill img {
    width: 100px;
    height: auto;
}

.skill p {
    margin-top: 10px;
    font-weight: bold;
}

h2.skills-heading {
    text-align: center;
    font-size: 36px;
}

@media screen and (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the minmax values for smaller screens */
        grid-gap: 10px;
    }

    .skill {
        transform: none; /* Remove scaling effect on smaller screens */
    }

    h2.skills-heading {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}
